<%= render 'shared/header' %>

<section class="fv">
<%= render 'shared/flashmessage' %>
    <h2>予約履歴</h2>

    <div class="reservationContent">
        <ul class="reservationInfo">
        <% if @reservations.length > 0 %>       
            <% @reservations.each do |reservation| %>
                <li>
                    <div class="heading">
                        <div class="headColumn">
                            <div class="dateContent">
                                <span class="listLabel">チェックイン</span>
                                <span class="listValue"><%= reservation.check_in %></span>
                            </div>
                            <div class="dateContent">
                                <span class="listLabel">チェックアウト</span>
                                <span class="listValue"><%= reservation.check_out %></span>
                            </div>
                        </div>
                        <div class="headColumn">
                            <div class="roomContent">
                                <div class="roomImage">
                                    <%= reservation.image %>
                                </div>
                                <h3><%= reservation.name %></h3>
                                <p class="roomInfoValue"><%= reservation.room_info %></p>
                            </div>
                        </div>
                        <div class="headColumn">
                            <ul class="noticeContent">
                                <li><%= reservation.total_price %></li>
                                <li><%= reservation.created_at.to_s(:datetime_jp) %></li>
                            <ul>
                        </div>
                    </div>
                </li>
            <% end %>
            <% else %>
                <li class="reservationNone">予約はありません</li>
        <% end %>
        </ul>
    </div>
</section>
