<%= render 'shared/header' %>

<section class="fv">
    <div class="message">
        <p class="fvTitle">Pote Hotelで<br>まだ体験したことのない<br>旅をしよう</p>
        <%= render 'shared/search' %>
    </div>

    <div class="recommendArea">
        <h2>おすすめのエリア</h2>
        <%= form_with(url: search_rooms_path, local: true, method: :get, class: "card") do |f| %>
            <%= f.hidden_field :area, :value => "東京" %>
            <%= f.submit "東京", class: "cardItem" %>
        <% end %>
        <%= form_with(url: search_rooms_path, local: true, method: :get, class: "card") do |f| %>
            <%= f.hidden_field :area, :value => "大阪" %>
            <%= f.submit "大阪", class: "cardItem" %>
        <% end %>
        <%= form_with(url: search_rooms_path, local: true, method: :get, class: "card") do |f| %>
            <%= f.hidden_field :area, :value => "京都" %>
            <%= f.submit "京都", class: "cardItem" %>
        <% end %>
        <%= form_with(url: search_rooms_path, local: true, method: :get, class: "card") do |f| %>
            <%= f.hidden_field :area, :value => "福岡" %>
            <%= f.submit "福岡", class: "cardItem" %>
        <% end %>
    </div>

</section>  
