<!DOCTYPE html>
<html>
  <head>
    <title>rails課題2_ホテル予約サイト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'signup', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="flashMessage"><%= content_tag :div, message, class: message_type %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
